<div class="container">
    
    <nz-input-group  >
        <nz-select [(ngModel)]="categoryName" placeholder ="Wybierz kategorie" >
          <nz-option *ngFor ="let item of categories" [nzLabel]="item.name" [nzValue]="item.name"></nz-option>
        </nz-select>
    </nz-input-group>
    <nz-input-group nzCompact >
        <nz-select [(ngModel)]="levelName">
          <nz-option *ngFor ="let item of level" [nzLabel]="item.name" [nzValue]="item.name"></nz-option>
        </nz-select>
    </nz-input-group>
    <div class="form-group">
        <button class="btn btn-primary" (click)="chooseCategory()" >Pokaż słówko</button>
    </div>
    <div class="form-group">
        
    </div>
    
</div>
    

<div *ngIf="items" >
    <p>Date: <span class="name">{{items[Index].word.ang}}</span> </p>
    <button *ngIf="Index>0" (click)="changeIndex(-1);">Poprzednie</button>
<button *ngIf="items.length - 1>Index"  (click)="changeIndex(1);">Kolejne</button>   
</div>

<div>
  <button (click)="speech()">
    Wymowa
  </button>
</div>
